@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager


@* <div class="container">
    <a href="" class="custom-link">Đăng Xuất Thành Công</a>
</div> *@
<br />
<br />
<h2 class="centered-text">Đăng Xuất Thành công</h2>

<div class="container">
    <button class="custom-button" onclick="location.href=''">Đăng Nhập Lại</button>
</div>

<style>
    .centered-text {
        text-align: center; /* Căn giữa nội dung theo chiều ngang */
    }

    .container {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        height: 100vh; /* Đặt chiều cao của container để căn giữa theo chiều dọc trong viewport */
    }

    .custom-button {
        font-size: 18px; /* Điều chỉnh kích thước chữ */
        font-weight: bold; /* In đậm */
        padding: 10px 20px; /* Thêm padding để làm cho nút lớn hơn */
        background-color: black; /* Màu nền của nút */
        color: white; /* Màu chữ */
        border: none; /* Loại bỏ viền mặc định */
        border-radius: 4px; /* Bo tròn các góc */
        cursor: pointer; /* Thay đổi con trỏ chuột thành con trỏ khi di chuột qua nút */
        text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    }

        .custom-button:hover {
            background-color: darkred; /* Màu nền của nút khi di chuột qua */
        }
</style>
@code {

    [CascadingParameter]
    public HttpContext? Httpcontext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (Httpcontext.User.Identity.IsAuthenticated)
        {
            await Httpcontext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }

    }
}