*[b-fntaxest6t], *[b-fntaxest6t]:before, *[b-fntaxest6t]:after {
    box-sizing: border-box;
}

html[b-fntaxest6t] {
    height: 100%;
}

body[b-fntaxest6t] {
    font-family: 'Raleway', sans-serif;
    background-color: #342643;
    height: 100%;
    padding: 10px;
}

a[b-fntaxest6t] {
    color: #EE4B5E !important;
    text-decoration: none;
}

    a:hover[b-fntaxest6t] {
        color: #FFFFFF !important;
        text-decoration: none;
    }

.text-wrapper[b-fntaxest6t] {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title[b-fntaxest6t] {
    font-size: 5em;
    font-weight: 700;
    color: #EE4B5E;
}

.subtitle[b-fntaxest6t] {
    font-size: 40px;
    font-weight: 700;
    color: #1FA9D6;
}

.isi[b-fntaxest6t] {
    font-size: 18px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    color: white;
}

.buttons[b-fntaxest6t] {
    margin: 30px;
    font-weight: 700;
    border: 2px solid #EE4B5E;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #EE4B5E;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    .buttons:hover

{
    background-color: #EE4B5E;
    color: white;
    transition: all 0.2s ease-in-out;
}

}

