.addbook_form[b-eqi99dd1fu] {
    padding: 40px;
}


.addbook_form_body[b-eqi99dd1fu] {
    padding: 15px;
    border: 3px solid #0094ff;
    border-radius: 25px;
}

.Title_page[b-eqi99dd1fu] {
    width: 100%;
    font-size: 25px;
    text-align: center
}

