.addbook_form[b-hubydex6gx] {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.title_page[b-hubydex6gx] {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.form-group[b-hubydex6gx] {
    margin-bottom: 15px;
}

    .form-group label[b-hubydex6gx] {
        font-weight: bold;
        margin-bottom: 5px;
        color: #000;
    }

.form-control[b-hubydex6gx],
.form-select[b-hubydex6gx] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

    .form-control:focus[b-hubydex6gx],
    .form-select:focus[b-hubydex6gx] {
        border-color: #000;
        outline: none;
        box-shadow: none;
    }

.btn-primary[b-hubydex6gx] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #000;
    border: none;
    color: #fff;
}

    .btn-primary:hover[b-hubydex6gx] {
        background-color: #333;
    }
